[user]
	email = morten+pgp@olsen.pro
	name = Morten Olsen
  signingkey = 0xD4094964DB0C4E88

[alias]
	graph = log --graph --color --pretty=format:"%C(yellow)%H%C(green)%d%C(reset)%n%x20%cd%n%x20%cn%C(blue)%x20(%ce)%x20%C(cyan)[gpg:%GK%x20%G?]%C(reset)%n%x20%s%n"
	s = status -sb
	last = log -1 --stat
	unstage = reset HEAD --

[difftool "nvimdiff"]
	cmd = "nvim -d -u ~/.vimrc \"$LOCAL\" \"$REMOTE\""
[commit]
;  gpgsign = true
; [url "https://github.com/"]
; 	insteadOf = git@github.com:
[url "git@gitlab.com:maersktankers/"]
	insteadOf = https://gitlab.com/maersktankers/
[url "git@github.com:sampension/"]
	insteadOf = https://github.com/sampension/
[url "git@github.com:morten-olsen/"]
	insteadOf = https://github.com/morten-olsen/
[url "git@github.com:morten-olsen-env/"]
	insteadOf = https://github.com/morten-olsen-env/
[url "git@gitea.mortenolsen.pro:"]
	insteadOf = https://gitea.mortenolsen.pro
[url "https://"]
	insteadOf = git://

[core]
  pager = delta

[interactive]
  diffFilter = delta --color-only

[pull]
	ff = only
[init]
	defaultBranch = main
