[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "base/.oh-my-zsh"]
	path = base/.oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh
[submodule "nodejs/.nvm"]
	path = nodejs/.nvm
	url = https://github.com/nvm-sh/nvm
[submodule "nvim/.local/share/nvim/site/pack/packer/start/packer.nvim"]
	path = nvim/.local/share/nvim/site/pack/packer/start/packer.nvim
	url = https://github.com/wbthomason/packer.nvim
[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = https://github.com/morten-olsen/NvChad
[submodule "base/.config/zsh/custom/themes/spaceship-prompt"]
	path = base/.config/zsh/custom/themes/spaceship-prompt
	url = https://github.com/spaceship-prompt/spaceship-prompt.git
[submodule "base/.config/zsh/custom/plugins/zsh-autosuggestions"]
	path = base/.config/zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "base/.config/zsh/custom/plugins/zsh-syntax-highlighting"]
	path = base/.config/zsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
