sign-git-tag=true
//npm.pkg.github.com/:_authToken="${GH_TOKEN}"
//npm.mortenolsen.pro/:always-auth=true
//npm.mortenolsen.pro/:_authToken="${NPM_PRIVATE_TOKEN}"
registry=https://npm.mortenolsen.pro/
